
Binaries/
Build/Receipts/
DerivedDataCache/
Intermediate/
Saved/

Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/DerivedDataCache/
Plugins/*/Saved/

Android/
Android_ASTC/
IOS/
Mac/
Windows/
Linux/
WindowsNoEditor/
LinuxNoEditor/

Content/Developers/*
!Content/Developers/.gitkeep

*.sln
*.suo
*.sdf
*.opensdf
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.opendb
*.xcodeproj/
*.xcworkspace/

.vs/
.vscode/
.idea/
.cproject
.project
.settings/
*.code-workspace

*.ipch
*.aps
*.cachefile
*.psess
*.vsp
*.vspx

*.shadercache
*.bnc
*.bnchk
*.ushaderbytecode

node_modules/
package-lock.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

*.tmp
*.swp
*.swo
*~
*.bak
*.orig

.env
.env.local
*.local.ini
exports.sh
